{{ define "title" }}{{ .Title }} &mdash; {{ .Site.Title }}{{ end }}

{{ define "body" }}
	{{ partial "header.html" . }}
	<article class="container py-3" data-pagefind-body>
		{{ with .Parent }}
			<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
		{{ end }}

		<h1>{{ .Title }}</h1>
		<section>
			{{ .Content }}
		</section>

		{{ with .Data.Terms }}
			<h2>Terms</h2>
			<ul>
				{{ range . }}
					<li><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a> ({{ .Count }})</li>
				{{ end }}
			</ul>
		{{ else }}
			{{ with .Pages }}
				<h2>Pages</h2>
				<ul>
					{{ range . }}
						<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
					{{ end }}
				</ul>
			{{ end }}
		{{ end }}

	</article>
{{ end }}
